<h1>See what you and a friend both like</h1>

<p>Click the link below to see what you and your friends have in common! You will be prompted to log into Facebook.</p>

<p><%= link_to "Begin!", :action => "signin" %></p>